---
import { getCollection } from "astro:content";
import Layout from "../../layouts/Layout.astro";

const allTags = await getCollection("tags");
const sortedTags = allTags.sort((a, b) =>
  a.data.title.localeCompare(b.data.title)
);
const title = "Notes";
---

<Layout title={title}>
  <h1>Tags</h1>
  {
    sortedTags.map((tag) => (
      <article class="mb-4">
        <a class="font-bold text-xl" href={`/notes/${tag.slug}`}>
          {tag.data.title}
        </a>
      </article>
    ))
  }
</Layout>

<style></style>
