---
import type { Link } from "./interfaces";

const linkList: Link[] = [
  { label: "Home", link: "/" },
  { label: "Blog", link: "/blog" },
];
---

<nav>
  <ul role="list">
    {
      linkList.map((link) => (
        <li>
          <a href={link.link}>{link.label}</a>
        </li>
      ))
    }
  </ul>
</nav>
