---
import type { Link } from "./interfaces";

const linkList: Link[] = [
  { label: "Home", link: "/" },
  { label: "Blog", link: "/blog" },
  { label: "Notes", link: "/notes" },
  { label: "Projects", link: "/projects" },
];
---

<nav class="pt-4">
  <ul class="flex gap-4 list-none pl-0" role="list">
    {
      linkList.map((link) => (
        <li>
          <a class="font-bold" href={link.link}>
            {link.label}
          </a>
        </li>
      ))
    }
  </ul>
</nav>
