---
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { mapProjectStatusToEmoji } from "../../utils";

interface Props {
  project: CollectionEntry<"projects">;
}

export async function getStaticPaths() {
  const projects = await getCollection("projects");

  return projects.map((project) => ({
    params: { slug: project.slug },
    props: { project },
  }));
}

const { project } = Astro.props;
const { Content } = await project.render();
---

<Layout title={project.data.title}>
  <h1>
    {mapProjectStatusToEmoji(project.data.status)}{" "}{project.data.title}
  </h1>
  <Content />
</Layout>

<style></style>
