---
import { getCollection, type CollectionEntry } from "astro:content";
import Layout from "../../layouts/Layout.astro";
import { ProjectStatus, projectStatusEmoji } from "./projects.i";

interface Props {
  project: CollectionEntry<"projects">;
}

export async function getStaticPaths() {
  const projects = await getCollection("projects");

  return projects.map((project) => ({
    params: { slug: project.slug },
    props: { project },
  }));
}

const { project } = Astro.props;
const { Content } = await project.render();
const title = `${projectStatusEmoji[project.data.status as ProjectStatus]} ${
  project.data.title
}`;
---

<Layout title={title}>
  <h1>
    {title}
  </h1>
  <Content />
</Layout>

<style></style>
