---
import Navbar from "../components/Navbar.astro";
import "../styles/base.css";

interface Props {
  title: string;
}

const { title } = Astro.props;
const siteName = "Minimal blog theme";
const description =
  "Astro description A minimal theme for blog. Created by Hoai Phong with Astro, Tailwind CSS, Markdown";
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title} - {siteName}</title>
  </head>
  <body class="font-serif bg-orange-100 max-w-2xl mx-auto px-4 text-lg">
    <Navbar />
    <main class="py-4">
      <slot />
    </main>
  </body>
</html>
<style is:global>
  :root {
  }
</style>
